body {
    margin: 0;
    font-family: Tahoma;
}

.parent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.child {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    margin-right: 10px;
    display: flex;
    font-size: 40px;
    color: black;
    transition: color 0.3s, background-color 0.3s, cursor 0.3s;
    letter-spacing: 10px;
}

.child:hover {
    color: goldenrod;
    background-color: yellow;
    cursor: pointer;
}

.child:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
}

.element{
    padding-left: 10px;
}
